.repos-component .repos {
  margin-top: 20px; }
  .repos-component .repos .repo-card {
    margin-bottom: 32px;
    width: 100%; }
    .repos-component .repos .repo-card .owner-avatar-wrapper {
      overflow: hidden; }
      .repos-component .repos .repo-card .owner-avatar-wrapper .owner-avatar {
        height: 100%;
        width: 100%; }
    .repos-component .repos .repo-card .repo-full-name {
      display: block;
      overflow: hidden; }
    .repos-component .repos .repo-card .visibility {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .repos-component .repos .repo-card .visibility .visibility-label {
        margin-left: 8px; }
