.job-component {
  min-height: 100%;

  .page-header {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px #ddd;

    align-items: center;
    .page-title {
      font-size: 18px;
      margin-left: 30px;
    }

    .back-button {
      margin-left: 20px;
    }
  }

  .row {
    margin: 0;
  }

  .builds-panel, .info-panel {
    margin-top: 20px;
  }

}



