.create-job-modal-component {
  .bx--modal-content {
    overflow: visible;

    .repo-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .repo-owner-avatar {
        height: 50px;
        width: 50px;
      }
    }



    .job-name {
      margin-top: 20px;

      .name-input-error {
        max-width: 100%;
      }
    }
  }

}