.create-job-modal-component .bx--modal-content {
  overflow: visible; }
  .create-job-modal-component .bx--modal-content .repo-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .create-job-modal-component .bx--modal-content .repo-info .repo-owner-avatar {
      height: 50px;
      width: 50px; }
  .create-job-modal-component .bx--modal-content .job-name {
    margin-top: 20px; }
    .create-job-modal-component .bx--modal-content .job-name .name-input-error {
      max-width: 100%; }
