.users-component {
  .content {
    padding-top: 16px;

    td {
      vertical-align: middle;

      .action-button {
        margin-right: 8px;

        &.red {
          color: white;
          background-color: #cd4449;
        }
      }
    }
  }
}