.job-info-component {
  padding-top: 32px; }
  .job-info-component .section {
    margin-bottom: 10px; }
    .job-info-component .section #job-description-input {
      resize: vertical; }
    .job-info-component .section .default-value {
      font-weight: normal;
      color: #6e6e6e; }
    .job-info-component .section .note {
      margin-top: 16px;
      font-size: 14px;
      font-style: italic;
      color: #6e6e6e; }
    .job-info-component .section .repo-type-button {
      margin-right: 16px; }
      .job-info-component .section .repo-type-button.selected {
        background-color: #ccc;
        border-color: #808080; }
    .job-info-component .section .webhook-url {
      width: 100%;
      background-color: #f7f8fa;
      height: 34px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      border: 1px solid #ccc;
      border-radius: 4px;
      position: relative;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      padding: 6px 50px 6px 12px; }
      .job-info-component .section .webhook-url .copy-button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 34px;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: solid 1px #ddd; }
    .job-info-component .section .tool-tip {
      position: absolute;
      right: 4px;
      top: 60px;
      transition: 0.2s ease-in-out; }
    .job-info-component .section .create-job-button {
      margin: 15px; }
    .job-info-component .section .credential-content {
      min-width: 300px;
      margin-bottom: 0; }
      .job-info-component .section .credential-content .credential-data {
        float: right; }
    .job-info-component .section .add-credential-button i {
      font-size: 16px;
      margin-right: 8px; }
