.jobs-component {
  min-height: 100%; }
  .jobs-component .row {
    margin: 0; }
  .jobs-component .jobs-panel {
    margin-top: 20px; }
    .jobs-component .jobs-panel .jobs-table {
      margin-top: 16px;
      border-bottom: 0 !important; }
      .jobs-component .jobs-panel .jobs-table th, .jobs-component .jobs-panel .jobs-table td {
        border: 1px !important;
        vertical-align: middle;
        text-align: center; }
  .jobs-component .status-icon {
    font-size: 25px; }
    .jobs-component .status-icon.failed {
      color: #ff625d; }
    .jobs-component .status-icon.building {
      color: #337ab7; }
    .jobs-component .status-icon.success {
      color: #5cb85c; }
  .jobs-component .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row; }
    .jobs-component .actions .action-button {
      margin-right: 8px; }
      .jobs-component .actions .action-button.red {
        color: white;
        background-color: #ff625d; }
