.jobs-component {
  min-height: 100%;

  .row {
    margin: 0;
  }

  .jobs-panel {
    margin-top: 20px;
    .jobs-table {
      margin-top: 16px;
      border-bottom: 0 !important;
      th, td {
        border: 1px !important;
        vertical-align: middle;
        text-align: center;
      }
    }

  }

  .status-icon {

    font-size: 25px;

    &.created {

    }

    &.failed {
      color: #ff625d;
    }

    &.building {
      color: #337ab7;
    }

    &.success {
      color: #5cb85c;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    .action-button {
      margin-right: 8px;

      &.red {
        color: white;
        background-color: #ff625d;
      }
    }
  }

  //.build-progress-cell {
  //  width: 300px;
  //  .build-progress {
  //    margin: 0;
  //  }
  //}

}

