.accounts-component .accounts-nav {
  position: static;
  width: 100%; }
  .accounts-component .accounts-nav .account-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; }
    .accounts-component .accounts-nav .account-header .add-account-label {
      margin-left: 16px; }
    .accounts-component .accounts-nav .account-header .add-account-button {
      margin-right: 16px; }
  .accounts-component .accounts-nav .account-avatar {
    height: 30px;
    width: 30px;
    float: right; }
