.accounts-component {
  .accounts-nav {
    position: static;
    width: 100%;

    .account-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .add-account-label {
        margin-left: 16px;
      }

      .add-account-button {
        margin-right: 16px;
      }

    }

    .account-avatar {
      height: 30px;
      width: 30px;
      float: right;

    }
  }
}
