.credentials-component .content {
  padding: 16px; }
  .credentials-component .content .row {
    margin: 0; }
  .credentials-component .content td {
    vertical-align: middle; }
    .credentials-component .content td .action-button {
      margin-right: 8px; }
      .credentials-component .content td .action-button.red {
        color: white;
        background-color: #cd4449; }
