.credentials-component .page-header {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ddd;
  align-items: center; }
  .credentials-component .page-header .page-title {
    font-size: 18px;
    margin-left: 30px; }
  .credentials-component .page-header .new-credential-button {
    margin-right: 20px; }

.credentials-component .content {
  padding: 16px; }
  .credentials-component .content .row {
    margin: 0; }
  .credentials-component .content td {
    vertical-align: middle; }
    .credentials-component .content td .action-button {
      margin-right: 8px; }
      .credentials-component .content td .action-button.red {
        color: white;
        background-color: #ff625d; }
