.credentials-component {
  .content {
    padding: 16px;

    .row {
      margin: 0;
    }

    td {
      vertical-align: middle;

      .action-button {
        margin-right: 8px;

        &.red {
          color: white;
          background-color: #cd4449;
        }
      }
    }
  }
}