.app-component {
  display: flex;
  flex-direction: row;
  height: 100%;

  .nav-component-container {
    height: 100%;
  }

  .main-content {
    flex: 1;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
  }
}

.s-alert-box {
  z-index: 1001;
  background: none;
  padding: 0;
}

.button-with-icon {
  i {
    margin-right: 8px;
    font-size: 16px;
  }

  &.no-text {
    i {
      margin-right: 0;
    }
  }
}