.new-job-component {
  background-color: white;
  min-height: 100%;

  .delete-job-button {
    color: white;
    background-color: #cd4449;
  }

  .content {
    padding: 16px 60px;

    .middle {
      width: 800px;
      margin: auto;

      .danger-text {
        color: #cd4449 !important;
        font-weight: bold !important;
      }
    }
  }
}