.new-job-component {
  background-color: white;
  min-height: 100%; }
  .new-job-component .delete-job-button {
    color: white;
    background-color: #cd4449; }
  .new-job-component .content {
    padding: 16px 60px; }
    .new-job-component .content .middle {
      width: 800px;
      margin: auto; }
      .new-job-component .content .middle .danger-text {
        color: #cd4449 !important;
        font-weight: bold !important; }
