.new-job-component {
  background-color: white;
  min-height: 100%;

  .delete-job-button {
    color: white;
    background-color: #cd4449;
  }

  .content {
    padding: 16px 60px;

    .middle {
      width: 800px;
      margin: auto;

      .section {
        margin-bottom: 10px;

        #job-description-input {
          resize: vertical;
        }

        .default-value {
          font-weight: normal;
          color: #6e6e6e;
        }

        .note {
          margin-top: 16px;
          font-size: 14px;
          font-style: italic;
          color: #6e6e6e;
        }

        .repo-type-button {
          margin-right: 16px;

          &.selected {
            background-color: #ccc;
            border-color: #808080;
          }
        }

        .webhook-url {
          width: 100%;
          background-color: #f7f8fa;
          height: 34px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          border: 1px solid #ccc;
          border-radius: 4px;
          position: relative;
          text-overflow: ellipsis;
          word-break: break-all;
          white-space: nowrap;
          overflow: hidden;
          padding: 6px 50px 6px 12px;

          .copy-button {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 34px;
            border: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: solid 1px #ddd;
          }
        }

        .create-job-button {
          margin: 15px;
        }

        .credential-content {
          min-width: 300px;
          margin-bottom: 0;
          .credential-data {
            float: right
          }
        }

        .add-credential-button {
          i {
            font-size: 16px;
            margin-right:8px;
          }
        }
      }
    }
  }
}