.edit-credential-modal-component .body {
  display: flex;
  justify-items: center;
  justify-content: center; }
  .edit-credential-modal-component .body .content {
    max-width: 500px; }
    .edit-credential-modal-component .body .content .note {
      margin-top: 16px;
      font-size: 14px;
      font-style: italic;
      color: #6e6e6e; }
