.nav-component {
  width: 230px;
  height: 100%;
  background-color: #40455E;

  font-weight: bold;

  .nav-header {
    height: 100px;
    background-color: #565c80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;

    .app-name {
      font-size: 25px;
      font-weight: normal;
    }

    .user-info {
      margin-top: 8px;
    }
  }

  .nav-content {
    .nav-item {
      width: 100%;
      height: 40px;
      display: flex;
      justify-items: flex-start;
      align-items: center;
      color: #c3c3c3;
      text-decoration: none;

      .nav-item-icon {
        margin-left: 16px;
        font-size: 16px;
      }

      .nav-item-text {
        font-weight: bold;
        margin-left: 20px;
      }

      &.active {
        background-color: #2D3142;
        color: white;
      }
    }
  }

}

