.edit-credential-modal-component {
  .body {
    display: flex;
    justify-items: center;
    justify-content: center;
    .content {
      max-width: 500px;

      .note {
        margin-top: 16px;
        font-size: 14px;
        font-style: italic;
        color: #6e6e6e;
      }
    }
  }

}